{% load static %}
<html>
  <head>
    <title>DG_MyBlog</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <div class="page-header">
      <h1><a href="/">My Blog</a></h1>
      {# 管理者ログイン済の時のみ表示 #} {% if user.is_authenticated %}
      <div class="header-menu">
        <!-- 記事追加アイコン -->
        <a href="{% url 'post_new' %}" class="top-menu">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <!-- 草稿記事一覧 -->
        <a href="{% url 'post_draft_list' %}" class="top-menu">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="content container">
      <div class="row center-row">
        <div class="col-md-8">{% block content %} {% endblock %}</div>
      </div>
    </div>
  </body>
</html>
