{% extends 'blog/base.html' %}

{% block content %}
<h2>New post</h2>
<form method="POST" action="{{ form_action_url }}" class="post-form">
  {% csrf_token %} {{ form.as_p }}
  <div class="btn-area">
    <button type="submit" name="action" value="save_draft" class="save btn btn-success">下書き保存</button>
    <button type="submit" name="action" value="publish" class="save btn btn-primary">保存して公開</button>
  </div>
</form>

<style>
.post-form p {
  display: flex;
  flex-direction: column;
}
#id_category {
  width: 200px; 
}

.btn-area {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px 10px;
}

</style>
{% endblock %}
