{% extends 'blog/base.html' %}
{% load markdown_filter %}

{% block content %}
<div class="post">
  <div class="btn-area">
    <div class="btn-group-left">
      {% if not post.published_date %}
      <a class="btn btn-publish btn-primary" href="{% url 'post_publish' pk=post.pk %}"
        >Publish</a
      >
      {% endif %}
      {% if user.is_authenticated %}
      <a class="btn btn-edit btn-success" href="{% url 'post_edit' pk=post.pk %}"
        ><span class="glyphicon glyphicon-pencil"></span
      ></a>
      {% endif %}
    </div>
    <div class="btn-group-right">
      {% if user.is_authenticated %}
      <a class="btn btn-remove btn-danger" href="{% url 'post_remove' pk=post.pk %}"
        ><span class="glyphicon glyphicon-remove"></span
      ></a>
      {% endif %}
    </div>
  </div>
  <div class="date-area">
    {% if post.published_date %}
    <div class="date">{{ post.published_date }}</div>
    {% endif %}
  </div>
  <div class="submission-details">
    <h2 class="title">{{ post.title }}</h2>
    <p class="text">{{ post.text|markdown_to_html }}</p>
      {% if post.category %}
      <a href="{% url 'category_post_list' post.category_id %}" class="category">
        # {{ post.category }}
      </a>
      {% else %}
      <div class="category-none">#None</div>
      {% endif %}
  </div>
  <div class="link-col">
      {% if request.GET.category %}
      <a href="{% url 'category_post_list' category_id=request.GET.category %}?page={{ request.GET.page }}&sort={{ request.GET.sort }}" class="link">&lt;&lt; back</a>
      {% else %}
      <a href="{% url 'post_list' %}?page={{ request.GET.page }}&sort={{ request.GET.sort }}" class="link">&lt;&lt; back</a>
      {% endif %}
  </div>
</div>

<style>
  .btn-area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }
  .btn-publish {
    margin-right: 14px;
  }
  .btn-edit,
  .btn-remove {
    height: 34px;
  }

  .title {
    padding: 10px;
    margin: 0px;
  }
  .submission-details {
    margin: 16px 0;
    background: #ffffd6;
    box-shadow: 0px 0px 0px 10px #ffffd6;
    border: dashed 2px #ffa666;
    padding: 10px;
  }
  .submission-details p:empty {
    display: none;
  }
  .submission-details p {
    min-height: 70px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
  }
  .category {
    font-size: 14px;
    padding: 4px 10px;
    color: #84a684;
  }
  .category-none {
    visibility: hidden;
  }
  .link-col {
    margin-top: 30px;
  }
  .link {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffa666;
    padding: 2px 10px 4px;
  }
  .link:hover,
  .link:visited,
  .link:active {
    color: #ffffff;
  }
</style>
{% endblock %}
