{% extends 'blog/base.html' %}
{% load markdown_filter %} 

{% block content %}
{% for post in page_obj %}
<div class="post">
  <div class="date">{{ post.published_date }}</div>
  <div class="submission-details">
    <div class="item-area">
      <h2 class="title">{{ post.title }}</h2>
      <p class="text">{{ post.text|markdown_to_plain }}</p>
    </div>
    <div class="link-col">
      {% if post.category %}
      <a href="{% url 'category_post_list' post.category_id %}" class="category">
        # {{ post.category }}
      </a>
      {% else %}
      <div class="category-none">#None</div>
      {% endif %}
      <a href="{% url 'post_detail' pk=post.pk %}?page={{ page_obj.number }}&sort={{ form.sort.value }}&category={{ category_type.id }}" class="link"
        >read more &gt;&gt;</a
      >
    </div>
  </div>
</div>
{% endfor %}

<style>
  .title {
    padding: 10px;
    margin: 0px;
  }
  .submission-details {
    margin: 16px 0;
    background: #ffffd6;
    box-shadow: 0px 0px 0px 10px #ffffd6;
    border: dashed 2px #ffa666;
    padding: 10px;
  }
  .text {
    max-height: 130px;
    min-height: 70px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
  }
  .link-col {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .category {
    font-size: 14px;
    padding: 4px 10px;
    color: #84a684;
  }
  .category-none {
    visibility: hidden;
  }
  .link {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffa666;
    padding: 2px 10px 4px;
  }
  .link:hover,
  .link:visited,
  .link:active {
    color: #ffffff;
  }
</style>
{% endblock %}
