{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<div class="post">
  <div class="date">{{ post.published_date }}</div>
  <div class="submission-details">
    <h2 class="title">{{ post.title }}</h2>
    <p class="text">{{ post.text|linebreaksbr }}</p>
    <div class="read-more-col">
      <a href="{% url 'post_detail' pk=post.pk %}" class="read-more"
        >read more >></a
      >
    </div>
  </div>
</div>

<style>
  .title {
    margin: 0px;
  }
  .submission-details {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #ffffd6;
    box-shadow: 0px 0px 0px 10px #ffffd6;
    border: dashed 2px #ffa666;
    padding: 10px;
  }
  .text {
    max-height: 130px;
    min-height: 70px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
  }
  .read-more-col {
    text-align: right;
    margin-top: 10px;
  }
  .read-more {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffa666;
    padding: 2px 10px 4px;
  }
  .read-more:hover,
  .read-more:visited,
  .read-more:active {
    color: #ffffff;
  }
</style>
{% endfor %} {% endblock %}
