body {
  padding-left: 0px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffa666;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  display: block;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  padding-top: 200px;
}
.center-row {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Zen Maru Gothic";
}

h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
  color: #ffa666;
}
p {
  color: #4a4a4a;
}

.date {
  color: #58669d;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}
.custom-text-form {
  height: 300px;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin: 12px;
}
.sort-select {
  float: right;
  margin: 14px;
}

.post {
  margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
  color: #ffa666;
}

.post p {
  color: #4a4a4a;
}

.pagination-area {
margin-bottom: 70px;
}
